/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
  margin-right: 7px;
}

body {
  display: flex;
  justify-content: center;
}

#header-id {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* border: darkblue solid; */
}
.logo-box {
  width: 161.09px;
  height: 69px;
  padding: 30px 50px 30px 30px;
  gap: 10px;
}
.logo-image {
  width: 61.09px;
  height: 17px;
}
.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 68px;
  align-items: flex-start;
}
.header-nav .accommodation {
  border-top: #0065fc solid 3px;
  padding-top: 20px;
  color: #0065fc;
}
.header-nav .activity {
  padding-top: 20px;
}
.header-nav a:hover {
  border-top: #0065fc solid 3px;
  padding-top: 20px;
}
hr {
  display: none;
}

/* **************BLOC MAIN CONTENAIR************************* */
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.title-and-subtitle-box {
  margin-bottom: 35px;
}
.subtitle {
  margin-top: 10px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<Bloc des filtres<<<<<<<<<<<< */
#search-and-filter {
  padding: 15px;
  margin: 10px auto;
}
.title-and-subtitle-box {
  margin: 15px auto;
}
.search-box-form {
  display: flex;
  width: 295px;
  height: 49px;
  align-items: center;
  /* gap: 10px; */
  border: #f2f2f2 solid;
  border-radius: 15px;
  margin-top: 25px;
}
.fa-localization-serach {
  display: flex;
  width: 54px;
  height: 49px;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  padding: 15px;
}
.zone-search {
  border: none;
  padding: 15px 0px;
  margin-right: 5px;
  text-align: center;
}
.search-box-form ::placeholder {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.search-btn {
  padding: 16px;
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background-color: #0065fc;
}
.img-loop {
  display: none;
}
.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filter-box {
  display: flex;
  align-items: center;
  /* gap: 15px; */
  margin-top: 25px;
  font-weight: bolder;
  padding-right: 10px;
  width: 70%;
}
.filter-title {
  font-size: 18px;
  width: 54px;
  height: 21px;
}

/* ****************LES BOUTONS DE FILTRE ****************** */
.filter-elements {
  border: #f2f2f2 solid 3px;
  width: 100%;
  height: 35px;
  padding: 19px 10px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 16px;
  white-space: nowrap;
}
.filters :hover {
  background-color: #deebff;
}
.information-box {
  display: flex;
  margin-top: 25px;
}

.fa-info {
  width: 25px;
  height: 25px;
  border: 1px;
  background-color: #f2f2f2;
  border-radius: 250px;
  text-align: center;
  padding-top: 3px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.title-accomodation-marseille {
  margin-bottom: 15px;
}
.sub-title-section-accommodation {
  margin-top: 25px;
}
.card-accommodation {
  width: 255.33px;
  height: 215.25px;
  margin: 10px;
  border: #ffffff solid 5px;
  border-radius: 20px;
  box-shadow: 1px 2px 3px 3px #dad8d8;
}
.card-accommodation img {
  width: 100%;
  height: 55%;
  border-radius: 20px 20px 0 0;
}
.block-of-three-cards {
  display: flex;
}
.card-text-content {
  background-color: #ffffff;
  height: 45%;
  border-radius: 0 0 20px 20px;
  padding-top: 15px;
  padding-left: 15px;
}
.gray-star {
  color: rgba(128, 128, 128, 0.137);
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/* Le design des cartes activités à Marseille */

#activites {
  margin-top: 60px;
}
.activity-title-cards {
  margin-bottom: 35px;
}
.card-activity-m {
  margin: 10px auto;
  width: 23%;
  height: 480px;
  box-shadow: 0px 1px 4px 1px #dad8d8;
  border-radius: 15px;
  /* border: solid 3px darkorange; */
}
.card-activity-m {
  border-radius: 20px;
}
.my-img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 405px;
}

.activity-cards-box {
  display: flex;
  width: 100%;
}
.container-text-activity {
  margin-left: 20px;
  margin-top: 20px;
}

#footer-box {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 0;
  align-items: baseline;
}
.footer-child {
  width: 446.67px;
  height: 163px;
  padding: 20px 20px 0 20px;

  font-size: 16px;
}
.footer-child p {
  line-height: 25px;
}
.title-card {
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /* <<<<<<<<<<<<<<<CHEIKHOU RESPONSIVE DESIGN TABLETTE<<<<<<<<<<< */
  .filter-box {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .filters {
    margin-top: 25px;
    align-items: flex-start;
    margin-left: 0;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  #header-id {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .site-title {
    font-size: 18px;
  }
  #hebergements {
    padding: 0px 10px 0 0;
    margin-top: 25px;
    gap: 5px !important;
    background: #ffffff;
  }
  .title-accomodation-marseille,
  .activity-title-cards {
    font-size: 22px;
    font-family: "Ralaway", sans-serif;
    margin-left: 15px;
  }
  .sub-title-section-accommodation {
    margin-left: 15px;
  }
  #activites {
    padding: 10px !important;
  }
  .populaires {
    padding: 20px 10px !important;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0px !important;
  }

  .search-box-form {
    display: flex;
    width: 250px;
    height: 49px;
    align-items: center;
    /* gap: 10px; */
    border: #f2f2f2 solid;
    border-radius: 15px;
  }

  .text-search-btn {
    display: none;
  }

  .search-btn {
    width: 49px;
    height: 49px;
    left: 286px;
    padding: 15px;
    border-radius: 15px;
    border: 1px;

    border-radius: 15px;
  }
  .img-loop {
    display: inline-block;
    padding: 1px;
    color: #ffffff;
    font-size: 17px;
  }
  .header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* .header-nav .accommodation,
  .header-nav .activity {
    border-bottom: gray solid 4px;
    padding-bottom: 20px;
    background-position: fixed;
    width: 50%;
    text-align: center;
    border-top: none;
  } */
  .header-nav .activity {
    /* border-bottom: solid 3px; */
    width: 50%;
    text-align: center;
    border-top: none;
    margin-left: 1px;
    padding-top: 0;
    padding-bottom: 17px;
    margin: 0;
  }
  .header-nav .activity:hover {
    border-bottom: #0065fc solid 3px;
    width: 50%;
    text-align: center;
    border-top: none;
    margin-left: 1px;
    padding-top: 0;
    padding-bottom: 17px;
  }

  .header-nav .accommodation {
    border-bottom: #0065fc 3px solid;
    padding-bottom: 17px;
    padding-top: 0;
    text-align: center;
    width: 50%;
    border-top: none;
    margin-right: 1px;
    margin: 0;
    padding-right: 15px;
  }
  .header-nav .accommodation:hover {
    border-top: none;
    border-bottom: #0065fc 3px solid;
    padding-bottom: 17px;
    padding-top: 0;
    text-align: center;
    width: 50%;
    border-top: none;
    margin-right: 1px;
  }
  hr {
    width: 100%;
    display: inline;
  }
  .filter-box {
    width: 100%;
  }
  /* .filters {
    flex-direction: column;
    width: 100%;
  } */

  .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
  }
  .filter-elements {
    font-size: 13px;
    margin: 2%;
  }
  .populaires-cards {
    width: 100%;
    display: block;
  }
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .populaires-cards .card {
    margin-top: 20px;
  }

  .block-of-three-cards {
    display: block;
  }
  .card-accommodation {
    width: 97%;
    margin: 20px 15px 0 10px;
  }

  .card-activity-m {
    width: 98%;
    height: 210px;
    box-shadow: 2px 7px 9px 1px #dad8d8;
    margin-top: 15px;
  }
  .my-img {
    width: 100%;
    height: 140px;
    /* margin: auto; */
  }
  .activity-cards-box {
    flex-direction: column;
  }
  .container-text-activity {
    padding-top: 20px;
    margin-left: 15px;
  }
  #footer-box {
    display: flex;
    flex-direction: column;
    padding: 10px 10;
    margin-top: 25px;
  }
  .footer-child {
    margin-top: 20px;
  }
  .footer-child p {
    margin-top: 10px;
  }
}
